- var title = "test"
- var mainStyle = "css/main.css"
doctype html

html
  head
    title My Site - #{title}
    link(href= mainStyle , rel='stylesheet')


  body
    h1 Start of index file

    block content
      div.wrapper
      p Welcome - Index content

    p DIVIDER

    div.footer
      p footer cotent!!!


    script(src='js/main.js', type='text/javascript')
