#text-color-lightest {

    flex-direction(true);
}

body
{
  // background-color: red;
  margin:0;
}


.footer {
  width:100%;
  background-color: green;
  height: 50px;
  position: fixed;
  bottom:0;
  padding:5px;
}
