doctype html

block scripts
  script(src='/jquery.js')
  script(src='/pets.js')

- var authorised = false
if authorised
  p.steen Hej

p.steen Hej2

- var user = { name : "Steen" };

unless user.isAnonymous
  p You're logged in as #{user.name}

- for (var x = 0; x < 3; x++)
    li item

-  ul
    each val in [1, 2, 3, 4, 5]
      li= val
